.word{
    border:3px dotted red;
    background-color: blue;
    padding: 75px;
    color:white;
    width: 350px
}
.word2{
    margin-top: 25px;
    background-color: green;
    color: white;
    border-radius: 25px;
    width:350px;
    padding: 75px;
    border:3px solid orange;
}
.word3{
    background-color: yellow;
    border: 7px double blue;
    width: 350px;
    padding:75px;
    border-radius: 10px;

}